<section class="conlist">
    <article>
        
        <h1>Contact List</h1>
        {{#each payload}}
        
        <div class="c21">
            <ul class="c31">
                <li>First Name : {{this.fname}}</li>
                <li>Last Name : {{this.lname}}</li>
                <li>Number : {{this.nmbr}}</li>
                <li>Saved Location : {{this.loc}}</li>
            </ul>
        </div>
        <li class="btn-group">
            <span class="cntinfo">
                <a href="/api/{{this._id}}">Info</a>
            </span>
            <span class="edit">
                <a href="/api/edit/{{this._id}}">Edit</a>
            </span>
            <span class="delete">
                <a href="/api/delete/{{this._id}}" onclick="return confirm('Are you sure you want to delete this contact?')">Delete</a>
            </span>
        </li>
        {{else}}
        <h1>NO Contact Please Create a Contact First</h1>
        {{/each}}
    </article>
</section>